---
title: "A Little About Me"
layout: "layouts/base.njk"
---

<main>
  <h1>A Little About Me</h1>
  <section class="flex flex-col gap-6 mb-16 mt-8">
    <p>
      I’m a fullstack engineer specializing in JavaScript, .NET Core, Azure and Docker. I’m a Lead Developer at
      Fulfillment IQ, where I build high-performance products in the supply chain space. Currently, I’m involved with
      developing WarehouseAnywhere’s flagship inventory and asset management system.
    </p>
  </section>
</main>
