---
title: "A Little About Me"
layout: "layouts/base.njk"
---

<main>
  <h1>A Little About Me</h1>
  <section class="flex flex-col gap-6 mb-16 mt-8">
    <p>
      I’m a fullstack engineer specializing in JavaScript, .NET Core, Azure and Docker. I’m a Senior Developer at
      <a href="https://msfg.com" referrerpolicy="no-referrer-when-downgrade" target="_blank"
         rel="noopeners">MSFG</a>, where I'm leading development efforts for Money Mart's new mobile app.
    </p>
  </section>
</main>
